.MainCont{
    background-color: beige;
    border-radius: 5px;
    /* width: 90%; */
    /* margin: 0 auto; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: -30px;
}
#title{
    display: flex;
    gap: 5px;
}
#the{
    margin-top: 18px;
    background-color: cornflowerblue;
    font-weight: 500;
}
#siren{
    font-size: 32px;
    font-weight: 500;
    background-color: cornflowerblue
}
.firstCont{
    margin: 15px 20px;
    display: flex;
    /* display: block; */
    flex-direction: column;
    gap: 15px;
}
.sirenpara{
    /* display: inline-block; */
    max-width: 370px;
    color: brown;
    font-size: 18px;
    font-weight: 600;
    /* background-color: cornflowerblue; */
    
}
ul li{
    list-style: none;
}
.thirdCont{
    
}
h2{
    text-decoration: underline;
}
ul li{
    font-weight: 500;
    color: brown;
}

@media screen and (min-width:370px) and  (max-width:700px) {
    .MainCont{
        display: flex;
        flex-direction: column;
    }    
}
@media screen and (min-width:600px) and  (max-width:700px) {
    .MainCont{
        /* width: 50%; */
        display: flex;
        flex-direction: column;
    }    
}