
.homeContainer{
  margin-bottom: 30px;
}
.photos{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;

}
.sideImges{
    width: 400px !important;
    height: 298px !important;
    position: relative;
  }
  .sideImges img{
    width: 400px;
    height: 100%;
  }
  .sideimgContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .largeImge{
    /* width: 800px !important; */
    height: 650px !important;
    position: relative;
  }
  .img-text{
    font-size: 18px;
    position: absolute;
    bottom: 60px;
    left: 10px;
    color: #ccc;
  }
  .largeImge img{
      width: 800px;
      height: 600px;
  }
  .sideimg-text{
    max-width: 330px;
    position: absolute;
    /* top:50%; */
    /* right: -83px; */
    bottom: 20px;
    left: 5px;
    color: #ccc;

  }
  /* .sideimg2-text{
    position: absolute;
  } */
  .cardContainer{
    padding-bottom: 2px;
    margin: 20px 15px;
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  
  }
  .flexProp{
      width: 86%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
  }
  .cardHomeContent{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    /* min-width: 200px; */
  }
  .footers{
    margin:30px;
  }
  .cardFooterImage{
    width: 300px;
    height: 200px;
  }
   .cardFooterImage img {
    width: 250px;
     height: 100%;
  
    }
    .wtinc img{
      width: 367px;
    }
    


  @media screen and (min-width:370px) and  (max-width:600px) {
    .img-text {
      width: 305px;
      font-size: 17px;
      position: absolute;
      top: 318px;
      left: 26px;
      color: #ccc;
  }
    .sideImges{
      display: none;
    }
    .flexProp{
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      margin-left: 20px;
    }
    .largeImge img {
      width: 350px;
      height: 400px;
      margin-left: 13px;
    }
    .cardHomeContent{
      max-width: 100%;
      width: 100% !important;
      display: flex;
      gap: 10px;
    }
    .profilediv {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      gap:10px;
  }
 
.postimage img{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  /* margin-left: 97px; */
}
.footercards {
  display: flex;
  flex-direction: column;
}
.cardFooterImage img {
  width:100%;

}
.mt-100{
  margin-top: -100px !important;
}

  }


  @media screen and (min-width:600px) and  (max-width:700px) {
    .photos{
      width: 50%;
      margin:0 auto;
  
  }
    .img-text {
      width: 305px;
      font-size: 17px;
      position: absolute;
      top: 318px;
      left: 26px;
      color: #ccc;
  }
    .sideImges{
      display: block;
    }
    .flexProp{
      width: 90%;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      margin-left: 20px;
    }
    .largeImge img {
      width: 350px;
      height: 400px;
      margin-left: 13px;
    }
    .cardHomeContent{
      max-width: 100%;
      width: 100% !important;
      display: flex;
      gap: 10px;
    }
    .profilediv {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      gap:10px;
  }
 
.postimage img{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  /* margin-left: 97px; */
}
.footercards {
  display: flex;
  flex-direction: column;
}
.cardFooterImage img {
  width:100%;

}
.mt-100{
  margin-top: -100px !important;
}

  }

  @media screen and (min-width:768px) and  (max-width:992px) {
    .photos{
      width: 50%;
      margin:0 auto;
      margin-bottom: 50px;
  
  }
    .img-text {
      width: 305px;
      font-size: 17px;
      position: absolute;
      top: 510px;
      left: 26px;
      color: #ccc;
  }
    .sideImges{
      display: block;
    }
    .flexProp{
      width: 90%;
      margin: 0px auto;
      display: flex;
      /* flex-direction: column; */
      /* align-items: center; */
      margin-left: 20px;
    }
    .largeImge img {
      width: 350px;
      /* height: 400px; */
      margin-left: 13px;
    }
    .cardHomeContent{
      max-width: 100%;
      width: 100% !important;
      display: flex;
      gap: 10px;
    }
    .cardContainer{
      display: flex;
      flex-direction: column;
    }
    .profilediv {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      gap:10px;
  }
 
.postimage img{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  /* margin-left: 97px; */
}
.footercards {
  display: flex;
  /* flex-direction: column; */
}
.cardFooterImage{
  width: fit-content;
  height: 200px;
}
.cardFooterImage img {
  width:100%;

}
.mt-100{
  margin-top: -100px !important;
}

  }