body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.topText{
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title{
  margin: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.the{
  transform: rotate(-90deg);
  font-weight: 500;

}
.siren{
  font-size: 40px;
  font-weight: 700;
}
.hamburger{

  width: 24px;
  height:24px;
  display: none;
  /* flex: 1; */
}

.NavLinks{
  width: 90%;
  margin: 0 auto;
height: 50px;
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
/* background-color: #ccc; */
color:#000;
font-family: sans-serif ;
font-size: 18px;
font-weight: 400px;
}
.NavLinks::after {
  top: 50px;
  /* margin-bottom: 20px; */
  background-color: #ecf3f3;
  /* display: block; */
  height: 2px;
  /* border-radius: 4px; */
  content: " ";
  position: absolute;
  width: 100%;
}
.VerticalNavLinks {
  width: 90%;
  margin: 0 auto;
position: relative;
display: flex;
gap:10px;
flex-direction: column;
justify-content: space-around;
align-items: center;
/* background-color: #ccc; */
color:#000;
font-family: sans-serif ;
font-size: 18px;
font-weight: 400px;
transition: height 2s;
}
.Links{
color:black;
text-decoration: none;
transition: 1s;
}
.Links:hover{
  text-decoration: underline;
  color: rgba(247, 118, 67, 0.7);
}
@media screen and (min-width:370px) and  (max-width:600px) {
  .hamburger{
    width: 24px;
    height:24px;
    display: block;
    justify-content: space-evenly;

  }
  .topText {
    width: 90%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
}



@media screen and (min-width:600px) and  (max-width:800px) {
  .hamburger{
    width: 24px;
    height:24px;
    display: block;
    justify-content: space-evenly;

  }
  .topText {
    width: 90%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
}